@media (max-width: 767px){

    .centr {
        padding-left: 16px;
        padding-right: 16px;
    }

    .stars{
        &__big{
            display: none;
        }

        &__green-top{
            width: 35px;
            height: 35px;
            top: 97px;
            left: 37px;
        }

        &__little-top{
            width: 21px;
            height: 21px;
            top: 64px;
            left: 91px;
        }
        &__green-btm{
            width: 18px;
            height: 18px;
            top: 557px;
            left: 272px;
        }
        &__little-btm{
            width: 39px;
            height: 41px;
            top: 580px;
            left: 303px;
        }

        &__mobile{
            display: inline;
            position: absolute;
            width: 223.52px;
            height: 238.57px;
           top: -92px;
           left: 286px;

        }
    }

    .header{

        &__group{
            padding-top: 147px;
            padding-bottom: 182px;
        }
        &__heading{
        width: 262px;
        height: 196px;
        font-size: 40px;
        font-weight: 700;
        line-height: 49px;
        text-align: center;
        padding-left: 40px;
        }

        &__text{
            width: 296px;
            height: 60px;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0px;
            text-align: center;
            padding-left: 23px;
        }

        &__group-btn{
            width: 285px;
            height: 55px;
            font-size: 16px;
            font-weight: 600;
            line-height: 141.69%;
            letter-spacing: 0%;
            text-align: center;
            margin-left: 29px;
            margin-top: 36px;
        }
    }

     .game{
         width: 375px;

        &__header{
            width: 250px;
            height: 49px;
            font-size: 40px;
            font-weight: 700;
            line-height: 49px;
            letter-spacing: 0px;
            text-align: left;
            padding-top: 48px;
        }

        &__text{
             width: 296px;
            height: 60px;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0px;
            text-align: left;
        }
        &__content{
            position: relative;
            padding-top: 48px;
            display: flex;
            flex-direction: column;
            gap: 24px;
        }

        &__content-1{
            display: grid;
            gap: 24px;

  }
        &__content-2{
            display: grid;
            gap: 24px;

}
        &__content-3{
            display: grid;
            gap: 24px;
        }
        
        
        &__card_wide{
            width: 343px;
            height: 529px;
        }
        &__card_wide:hover{
  transform: scale(1.0);
}

        &__card_high{
            width: 343px;
            height: 607px;
            
        }
&__card_high:hover{
  transform: scale(1.0);
}
        &__card_medium{
            width: 343px;
            height: 567px;
        }
&__card_medium:hover{
  transform: scale(1.0);
}
        &__card_img{
            width: 343px;
            height: 285px;


        }


  &__card_nmb{
    color: rgba(32, 32, 39, 1);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: 0px;
    text-align: left;
    margin-left: 16px;

  }

  &__card_name{
    color: rgba(32, 32, 39, 1);
    font-family: Montserrat;
    font-size: 32px;
font-weight: 700;
line-height: 39px;
letter-spacing: 0px;
text-align: left;
}

     }

     .game-stars{
  &__big{
    display: none;
  }
  &__leftsmall{
    display: none;

  }
  &__leftbig{
    display: none;

  }
     }
}