* {
  padding: 0;
  margin: 0;
}

.centr {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  width: 1440px;
  background-image: url(img/header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

&__group {
  width: 769px;
  padding-top: 196px;
  padding-bottom: 246px;
  position: relative;

}
&__heading {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
  padding-bottom: 24px;
}
&__text {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
&__group-btn {
  width: 247px;
  height: 66px;
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 48px;
}
&__group-btn:hover{
  background: white;
  color: rgba(0, 0, 0, 1);
}
}
.stars__big {
  position: absolute;
  right: 0;
  bottom: 111px;
}
.stars__green-top {
  position: absolute;
  left: 63px;
  top: 94px;
}
.stars__little-top {
  position: absolute;
  left: 156px;
  top: 69px;
}
.stars__green-btm {
  position: absolute;
  left: 948px;
  top: 538px;
}
.stars__little-btm {
  position: absolute;
  left: 1013px;
  top: 568px;
}
.stars__mobile{
  display: none;
}



.game {
  max-width: 1440px;
  background-image: url(img/Rectangle.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

&__header {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
  padding-top: 94px;
  padding-bottom: 24px;
}
&__text {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  width: 788px;
  height: 96px;}

  &__content{
    position: relative;
    margin-top: 72px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;

  }
  &__content-1{
    display: grid;
    gap: 32px;

  }
&__content-2{
      display: grid;
    gap: 32px;

}
&__content-3{
    display: grid;
    gap: 32px;
}
  &__card_wide{
    border-radius: 30px;
    width: 378px;
    height: 473px;
    box-shadow: 0 13px 42px -8px rgba(0, 0, 0, 0.13);
    background: #fff;
    transition: transform 0.3s ease-in-out;
    
}
&__card_wide:hover{
  transform: scale(1.1);
}

&__card_medium{
  width: 378px;
  height: 512px;
  box-shadow: 0 13px 42px -8px rgba(0, 0, 0, 0.13);
  background: #fff;
  border-radius: 30px;
  transition: transform 0.3s ease-in-out;
}

&__card_medium:hover{
  transform: scale(1.1);
}

&__card_high{
  
  width: 378px;
  height: 551px;
  box-shadow: 0 13px 42px -8px rgba(0, 0, 0, 0.13);
  background: #fff;
  border-radius: 30px;
  transition: transform 0.3s ease-in-out;
}
&__card_high:hover{
  transform: scale(1.1);
}


  &__card_img{
    border-radius: 30px;
    width: 378px;
    height: 314px;
}

  &__card_content{
    border-radius: 30px;
    margin-top: 40px;
    margin-left: 32px;
    }

    &__link{
      text-decoration: none;
    }
  &__card_nmb{
    color: rgba(32, 32, 39, 1);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: 0px;
    text-align: left;
    margin-left: 16px;

  }

  &__card_name{
    color: rgba(32, 32, 39, 1);
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0px;
    text-align: left;
    width: 314px;
    height: 39px;
    margin-top: 16px;
}
}

.game-play{
  max-width: 1440px;
  background-image: url(img/Rectangle.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

&__top-small{
  position: absolute;
  right: 124px;
}
&__top-big{
  position: absolute;
  right: 45px;
}

&__btm-small{
  position: absolute;
}

&__btm-big{
  position: absolute;
}

&__header{
    color: rgba(255, 255, 255, 1);
    font-family: Montserrat;
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0px;
    text-align: left;
    padding-bottom: 72px;
    padding-top: 96px;
}
&__block{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-bottom: 144px;
    position: relative;

}
&__card{
    border-radius: 30px;
    width: 1200px;
    height: 500px;
    box-shadow: 0 13px 42px -8px rgba(0, 0, 0, 0.13);
    background: #fff;
}

&__link{
  text-decoration: none;
}

&__content-left{
    display: flex;
    flex-direction: row-reverse;
}

&__content-right{
    display: flex;
    flex-direction: row;
}
&__img{
    width: 600px;
    height: 500px;
    border-radius: 30px;
    
}
&__group{
  width: 600px;
  display: flex;
  flex-direction: column;
  padding-top: 48px;
  padding-left: 48px;
  

}
&__info{
    display: flex;
    padding-bottom: 36px;
    gap: 24px;
    flex-direction: column;


}
&__name{
    color: rgba(32, 32, 39, 1);
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 0px;
    text-align: left;
  }

&__text{
    color: rgba(32, 32, 39, 1);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;

}
&__button{
 
    width: 247px;
    height: 66px;
    align-items: center;
    padding: 16px 28px 16px 28px;
    border-radius: 60px;
    background: rgba(32, 32, 39, 1);
    color: rgba(255, 255, 255, 1);

    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 141.69%;
    letter-spacing: 0%;
    text-align: center;

}
&__button:hover{
  background: white;
  color: rgba(0, 0, 0, 1);
}
}

.game-stars{
  &__big{
    position: absolute;
    padding-top: 77px;
    padding-left: 814px;

  }
  &__leftsmall{
    position: absolute;
    left: 25px;
    padding-top: 770px;

  }
  &__leftbig{
    position: absolute;
    left: 40px;
    padding-top: 822px;

  }
}






.footer
{
background-color:#BDED35;
height: 150px;

&__text{
  color: rgba(0, 0, 0, 1);

font-family: Montserrat;
font-size: 24px;
font-weight: 600;
line-height: 29px;
letter-spacing: 0px;
text-align: center;
padding-top: 61px;

}
}

@import 'mobile';