* {
  padding: 0;
  margin: 0;
}

.centr {
  padding-left: calc(50% - 720px);
  padding-right: calc(50% - 720px);
}

.header {
  width: 1440px;
  background-image: url(img/header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

&__group {
  width: 769px;
  padding-top: 196px;
  padding-bottom: 246px;
  padding-left: 120px;
}
&__heading {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
  padding-bottom: 24px;
}
&__text {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
&__group-btn {
  width: 247px;
  height: 66px;
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 48px;
}
}
.stars__big {
  position: absolute;
  left: 854px;
  bottom: 111px;
}
.stars__green-top {
  position: absolute;
  left: 63px;
  top: 94px;
}
.stars__little-top {
  position: absolute;
  left: 156px;
  top: 69px;
}
.stars__green-btm {
  position: absolute;
  left: 948px;
  top: 538px;
}
.stars__little-btm {
  position: absolute;
  left: 1013px;
  top: 568px;
}

.game {
  width: 1440px;
  height: 1470px;
  background-image: url(img/Rectangle.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

&__header {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 94px;
}
&__text {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  width: 788px;
  height: 96px;}

  &__content{
    margin-top: 72px;

  }

  &__card_wide{
    border-radius: 30px;
width: 378px;
height: 473px;
box-shadow: 0 13px 42px -8px rgba(0, 0, 0, 0.13);
background: #fff;
    
}

  &__card_img{
    border-radius: 30px;
    width: 378px;
    height: 314px;
}

  &__card_content{
    border-radius: 30px;
    }

  &__card_nmb{
    color: rgba(32, 32, 39, 1);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: 0px;
    text-align: left;

  }

  &__card_name{
    color: rgba(32, 32, 39, 1);
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0px;
    text-align: left;

  }
}
